* {
    margin: 0;
    padding: 0;
  }
  
  a{
    color: #003c2d !important;
    text-decoration: none;
    font-weight: 500;
  }
  
  a:hover{
    color: #FAA634 !important;
  }
  
  .Breadc{
    background: #003c2d;
    height: 30px;
  }

  #Breadc_nd{
    padding-left: 105px;
  }

  #Breadc_nd a{
      color: whitesmoke !important;
      text-decoration: none;
  }

#image{
    width: 100%;
    height: 216px;
}
  
.content{
    display: block;
    justify-content: center;
    text-align: left;
}

.title h1{ 
    font-size: 27px;
    font-family: inherit;
    font-weight: bold;
    padding: 25px;
    background-color: #BED747;
    border-radius: 15px;
    text-align: center;
}

.mini_menu{
    background-color: #fafafa;
    /* text-align: center; */
    margin-left: 0;
}

.mini_menu a{
    width: 20%;
    margin-right: 80px;
    text-decoration: none;
}

.col-sm-9{
    text-align: left;
}

.product_price{
    text-align: -webkit-right;
    margin-top: 50px;
}

.danh_muc{
    border: 2px solid #BED747;
    border-radius: 30px;
    font-weight: 800;
    padding: 10px;
}

.danh_muc h2{
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.danh_muc ul, li{
    text-align: left;
    line-height: 2.5;
}

.hinh_sp img{
    width: 265px;
    margin-top: 50px;
}

.hinh_sp img:hover{
    transition: transform .2s;
    transform: scale(1.1);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
    font-family: inherit;
    color: #003c2d;
}



.end{
    background-color: #BED747;
    line-height: 2.5;
}
  
li {
    list-style-type: none;
}
  
li a{
    text-decoration: none;
}
  
.company{
    text-align: center;
}
  
.company a{
    text-decoration: none;
}
  